// Header

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $zindex-modal;
  color: $white;
  pointer-events: none;

  .container-fluid > * {
    pointer-events: auto;
  }

  // SVGs should have same color as body

  svg {
    display: block;
    fill: currentColor;
    transition: fill 300ms $ease-out-expo;
    filter: drop-shadow(0 0 1rem rgba($body-bg, .5));
  }
}

// Logo

.logo {
  padding: 1.5rem var(--grid-gap);
  margin: 0 calc(var(--grid-gap) * -1);
  color: currentColor;

  @include media-breakpoint-down(md) {
    padding: .75rem var(--grid-gap);
  }

  &:hover,
  &:focus {
    color: $link-hover-color;
  }
}

// Nav

.nav {
  padding: 1.5rem 0;

  @include media-breakpoint-down(md) {
    padding: .75rem 0;
  }

  &__item {
    padding: .75rem .5rem;
    color: currentColor;
    filter: drop-shadow(0 0 1rem rgba($body-bg, .5));

    &:last-child {
      margin-right: -.5rem;
    }
  }
}

.back-button {
  grid-column: 1;
  align-self: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.2rem;
  text-align: center;
  border-radius: 50%;
  color: white;
  transition: all .3s;

  @include media-breakpoint-down(sm) {
    font-size: 1.2rem;
    text-align: center;
  }

  &:hover,
  &:focus {
    color: $link-color;
  }
}
