/* Header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding: calc(var(--grid-gap) / 2) var(--grid-gap);
  color: var(--body-color);
  pointer-events: none;

  & > * {
    pointer-events: auto;
  }

  @media (--sm-window) {
    background: var(--body-bg);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  & svg {
    display: block;
    fill: currentColor;
    transition: fill 300ms var(--ease-out-expo);
    filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.15));
  }
}

/* Logo */

.logo {
  color: currentColor;

  &:hover,
  &:focus {
    color: var(--link-hover-color);
  }
}

/* Navigation */

.nav {
  display: flex;
  align-items: center;

  &-item {
    display: inline-flex;
    justify-content: center;
    padding: 0.75rem 0.5rem;
    color: currentColor;
    filter: drop-shadow(0 0 1rem var(--body-bg));

    &:last-child {
      margin-right: -0.5rem;
    }
  }
}

.back-button {
  grid-column: 2;
  font-family: system-ui, sans-serif;
  font-weight: 600;
  line-height: 2.2rem;
  color: var(--link-color);
  transition: color 0.3s;

  &:hover,
  &:focus {
    color: var(--link-hover-color);
  }
}
