// Header

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $zindex-modal;
  padding-bottom: 3rem;
  color: $white;
  background-image: linear-gradient($body-bg 1rem, rgba($body-bg, .9) 50%, rgba($body-bg, 0) 100%);
  pointer-events: none;

  > * {
    pointer-events: auto;
  }

  // SVGs should have same color as body

  svg {
    display: block;
    fill: currentColor;
    transition: fill 300ms $ease-out-expo;
    filter: drop-shadow(0 0 1rem rgba($body-bg, .5));
  }
}

// Logo

.logo {
  padding: 1.5rem var(--grid-gap);
  color: currentColor;

  &:hover,
  &:focus {
    color: $link-hover-color;
  }
}

// Nav

.nav {
  padding: 1.5rem var(--grid-gap);

  &__item {
    padding: 0.75rem 0.5rem;
    color: currentColor;
    filter: drop-shadow(0 0 1rem rgba($body-bg, .5));

    &:last-child {
      margin-right: -0.5rem;
    }
  }
}

.back-button {
  position: absolute;
  font-size: 2rem;
  font-weight: 600;
  color: white;
  transform: translateX(-200%);

  span {
    display: inline-block;
    margin-right: .5rem;
  }

  &:hover,
  &:focus {
    color: currentColor;
  }
}
