// Header

:root {
  --nav-panel-transition:
    opacity .4s #{$ease-in-out-quart},
    transform .4s #{$ease-in-out-quart};
  --nav-panel-transition-delayed:
    opacity .5s #{$ease-in-out-quart},
    transform .5s #{$ease-in-out-quart};
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 .5rem;
  z-index: $zindex-modal;
  color: $white;
  background: linear-gradient(0deg, rgba($body-bg, 0) 0%, rgba($body-bg, 1) 100%);

  // SVGs should have same color as body

  svg {
    display: block;
    fill: currentColor;
    transition: all .3s $ease-in-out-quart;
  }
}

@keyframes header {
  0%   { opacity: 0; transform: translateX(-100%); }
  100% { opacity: 1; transform: none; }
}

// Logo

.logo {
  padding: 1.5rem;
  color: currentColor;
  transition: var(--nav-panel-transition);

  &:hover {
    color: $link-hover-color;
  }
}

// Nav

.nav {
  padding: .75rem 1rem;

  &__item {
    padding: .75rem .5rem;
    color: currentColor;
    transition: var(--nav-panel-transition);
  }
}
