//
// Body
//

body {
  padding: 0 $grid-gutter-width / 2;
}

.container-fluid {
  max-width: 1440px;
}

.hero {
  height: 50vh;
  min-height: 550px;
}

.footer {
  border-top: 1px solid rgba(255,255,255,.25);
}