:root {
  --grid-gap: 1.5rem;
  --grid-padding: 1.5rem;
  --grid-width: 62rem;
  --grid-height: 52rem;
}

@media (max-width: 1200px) {
  :root {
    --grid-gap: 1rem;
    --grid-padding: 1rem;
    --grid-width: 52rem;
    --grid-height: 52rem;
  }
}

.container-fluid {
  max-width: var(--grid-width);
  padding: 0 calc(var(--grid-gap) * 1.5);
  margin: 0 auto;
}

.container-grid {
  display: grid;
  grid-template-columns:
    minmax(calc(var(--grid-gap) * 1.5), 1fr)
    minmax(auto, 57ch)
    minmax(calc(var(--grid-gap) * 1.5), 1fr);
  max-width: var(--grid-width);
  margin: 0 auto;
}

.blog-grid {
  display: grid;
  grid-gap: var(--grid-gap);
  grid-template-columns: repeat(10, calc(10% - var(--grid-gap)));
  grid-template-rows: repeat(
    10,
    calc(var(--grid-height) / 10 - var(--grid-gap))
  );
  align-items: stretch;
  justify-content: center;
  max-width: var(--grid-width);
  min-height: var(--grid-height);
  width: 100%;
  padding: 0 calc(var(--grid-gap));
  margin: 0 auto;
  perspective: 1000px;

  @include media-breakpoint-down(sm) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .grid-item {
    background: rgba(white, 0.2);
    transform-origin: center;
    animation: gridAnimation backwards $ease-out-expo;

    @include media-breakpoint-down(sm) {
      width: calc(50% - var(--grid-gap));
      margin: calc(var(--grid-gap) / 2);
    }

    @include media-breakpoint-down(xs) {
      width: calc(100% - var(--grid-gap));
    }

    @for $i from 1 to 8 {
      &:nth-child(#{$i}) {
        animation-delay: 200ms + $i * 50ms;
        animation-duration: 600ms + $i * 75ms;
      }
    }
  }

  &--layout-1 {
    .grid-item:nth-child(1) {
      grid-area: 2 / 1 / 6 / 4;
    }
    .grid-item:nth-child(2) {
      grid-area: 1 / 4 / 4 / 7;
    }
    .grid-item:nth-child(3) {
      grid-area: 2 / 7 / 4 / 11;
    }
    .grid-item:nth-child(4) {
      grid-area: 4 / 4 / 7 / 8;
    }
    .grid-item:nth-child(5) {
      grid-area: 4 / 8 / 8 / 11;
    }
    .grid-item:nth-child(6) {
      grid-area: 6 / 4 / 9 / 1;
    }
    .grid-item:nth-child(7) {
      grid-area: 7 / 4 / 10 / 8;
    }

    @include media-breakpoint-down(lg) {
      .grid-item:nth-child(5) {
        grid-area: 4 / 8 / 7 / 11;
      }
      .grid-item:nth-child(6) {
        grid-area: 6 / 4 / 9 / 1;
      }
      .grid-item:nth-child(7) {
        grid-area: 7 / 4 / 9 / 9;
      }
    }

    @include media-breakpoint-down(md) {
      .grid-item:nth-child(1) {
        grid-area: 2 / 1 / 5 / 4;
      }
      .grid-item:nth-child(6) {
        grid-area: 5 / 4 / 8 / 1;
      }
      .grid-item:nth-child(7) {
        grid-area: 7 / 4 / 9 / 9;
      }
    }

    @include media-breakpoint-down(sm) {
      .grid-item:nth-child(1) {
        grid-area: 2 / 1 / 4 / 6;
      }
      .grid-item:nth-child(2) {
        grid-area: 1 / 6 / 3 / 11;
      }
      .grid-item:nth-child(3) {
        grid-area: 6 / 1 / 4 / 6;
      }
      .grid-item:nth-child(4) {
        grid-area: 5 / 6 / 3 / 11;
      }
      .grid-item:nth-child(5) {
        grid-area: 7 / 6 / 5 / 11;
      }
      .grid-item:nth-child(6) {
        grid-area: 6 / 1 / 8 / 6;
      }
      .grid-item:nth-child(7) {
        grid-area: 7 / 6 / 9 / 11;
      }
    }
  }

  &--layout-2 {
    .grid-item:nth-child(1) {
      grid-area: 1 / 3 / 4 / 8;
    }

    .grid-item:nth-child(2) {
      grid-area: 4 / 2 / 7 / 5;
    }

    .grid-item:nth-child(3) {
      grid-area: 2 / 8 / 5 / 11;
    }

    .grid-item:nth-child(4) {
      grid-area: 4 / 5 / 7 / 8;
    }

    .grid-item:nth-child(5) {
      grid-area: 5 / 8 / 8 / 11;
    }

    .grid-item:nth-child(6) {
      grid-area: 7 / 4 / 10 / 1;
    }

    .grid-item:nth-child(7) {
      grid-area: 7 / 4 / 10 / 8;
    }
  }
}

@keyframes gridAnimation {
  0% {
    opacity: 0;
    transform: scale(0.9) translateY(100px) rotateX(-15deg);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
