//
// Body
//

.container-fluid {
  max-width: 1440px;
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}

.hero {
  height: 50vh;
  min-height: 550px;
}

.footer {
  border-top: 1px solid rgba(255,255,255,.25);
}