@font-face {
  font-family: 'Margem';
  src: url('../fonts/margem/Margem-Regular.eot');
  src: url('../fonts/margem/Margem-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/margem/Margem-Regular.woff2') format('woff2'),
       url('../fonts/margem/Margem-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Margem';
  src: url('../fonts/margem/Margem-Italic.eot');
  src: url('../fonts/margem/Margem-Italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/margem/Margem-Italic.woff2') format('woff2'),
       url('../fonts/margem/Margem-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Margem';
  src: url('../fonts/margem/Margem-Black.eot');
  src: url('../fonts/margem/Margem-Black.eot?#iefix') format('embedded-opentype'),
       url('../fonts/margem/Margem-Black.woff2') format('woff2'),
       url('../fonts/margem/Margem-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Margem';
  src: url('../fonts/margem/Margem-BlackItalic.eot');
  src: url('../fonts/margem/Margem-BlackItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/margem/Margem-BlackItalic.woff2') format('woff2'),
       url('../fonts/margem/Margem-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Margem';
  src: url('../fonts/margem/Margem-Bold.eot');
  src: url('../fonts/margem/Margem-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/margem/Margem-Bold.woff2') format('woff2'),
       url('../fonts/margem/Margem-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Margem';
  src: url('../fonts/margem/Margem-BoldItalic.eot');
  src: url('../fonts/margem/Margem-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/margem/Margem-BoldItalic.woff2') format('woff2'),
       url('../fonts/margem/Margem-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Margem';
  src: url('../fonts/margem/Margem-Light.eot');
  src: url('../fonts/margem/Margem-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/margem/Margem-Light.woff2') format('woff2'),
       url('../fonts/margem/Margem-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}