// Post

.post {
  margin-bottom: 8rem;

  &__title a {
    text-decoration: none;
  }

  // Meta

  &__meta {
    font-weight: 400;
  }

  // Date

  &__date {
    font-variant: tabular-nums;

    // Day

    span:first-child {
      display: block;
      font-size: $display4-size;
      font-weight: 900;
      line-height: 1;

      @include media-breakpoint-down(xs) {
        display: inline;
        font-size: $font-size-base;
        font-weight: 400;
      }
    }
  }

  // Tags

  &__tags {
    position: relative;
    margin-top: 2rem;
    padding: 2rem 0 0 0;
    list-style: none;

    &::before {
      content: "×";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 100%;
      transform: translateY(50%);
    }
  }
}