// Post

@keyframes post {
  0%   { opacity: 0; transform: translateY(.5rem); }
  100% { opacity: 1; transform: none; }
}

.post {
  opacity: 0;
  margin-bottom: 8rem;
  animation: post .5s .1s $ease-in-out-quart forwards;

  &__header {
    top: 0;
    padding-bottom: .5rem;
    z-index: $zindex-sticky;
    background: linear-gradient(0, rgba($body-bg, 0) 0%, rgba($body-bg, 1) 100%);
  }

  &__title {
    &__link {
      text-decoration: none;
      color: currentColor;

      &:hover {
        text-decoration: none;
      }

    }

    &__detail {
      padding: .1rem;
      background: currentColor;
    }
  }

  // Meta

  &__meta {
    margin-bottom: .5rem;
    font-weight: 700;
    letter-spacing: -.025em;
    color: $headings-color;

    @include media-breakpoint-up(sm) {
      top: 1rem;
      z-index: $zindex-sticky;
    }
  }

  // Date

  &__date {
    font-variant: tabular-nums;

    // Day

    span:first-child {
      display: block;
      font-size: $display4-size;
      font-weight: 900;
      line-height: 1;

      @include media-breakpoint-down(xs) {
        display: inline;
        font-size: $font-size-base;
        font-weight: 400;
      }
    }
  }

  // Tags

  &__tags {
    position: relative;
    margin-top: 2rem;
    padding: 2rem 0 0 0;
    list-style: none;

    &::before {
      content: "×";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 100%;
      transform: translateY(50%);
    }
  }
}