html {
  font-size: 16px;

  @include media-breakpoint-up(sm) {
    font-size: 18px;
  }

  @include media-breakpoint-up(md) {
    font-size: $font-size-root;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.font-size-base { font-size: $font-size-base; }
.font-size-lg { font-size: $font-size-lg; }
.font-size-sm { font-size: $font-size-sm; }

blockquote {
  position: relative;
  max-width: 75%;
  padding-left: 2rem;
  font-style: italic;
  font-size: $blockquote-font-size;
  color: $blockquote-small-color;

  &::before {
    content: "“";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    font-size: $display1-size;
    line-height: 2.5rem;
    opacity: .1;
    transform: translate(0,0);
  }
}

code {
  padding: .1em .25em;
  font-size: 85%;
  background: rgba(black, .1);
  border-radius: $border-radius;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: -.05em;
}

a {
  transition: all .3s $ease-in-out-quart;
}

q {
  font-style: italic;
}