@import "functions";
@import "variables";

@at-root {
  @-ms-viewport { width: device-width; } // stylelint-disable-line at-rule-no-vendor-prefix
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  font-family: $font-family-sans-serif;
  color: #F0F5F9;
  background: #111418;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

//
// Grid mixins
//

@import "mixins/breakpoints";
@import "mixins/grid-framework";
@import "mixins/grid";

@import "grid";
@import "utilities/flex";
@import "utilities/display";
@import "utilities/position";
@import "utilities/spacing";

@import "post";